body {
    padding: 8px;
    background: #096216;
    color: #fff;
    font-family: 'Nunito', serif;
}

.centered {
    text-align: center;
}

.flexed {
    /*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/

    display: flex;
}

.playing-card-container {
    background: #097416;
    padding: 5px;
}

.playing-card {
    margin: 4px;
    border: 4px solid #fff;
    padding: 8px;
    border-radius: 4px;
}

.bignumber {
    font-size: 30px;
}
